<mat-card class="container">
    <mat-card-header>
      <mat-card-title> Listar Jogos </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <table>
      <tr>
        <th>#</th>
        <th>Seleção A</th>
        <th>Placar A</th>
        <th></th>
        <th>Placar B</th>
        <th>Seleção B</th>
        <th>Botão</th>
      </tr>
      <tr *ngFor = "let jogo of jogos">
        <td>{{jogo.id}}</td>
        <td>{{jogo.selecaoA?.nome}}</td>
        <td>{{jogo.placarA}}</td>
        <td>x</td>
        <td>{{jogo.placarB}}</td>
        <td>{{jogo.selecaoB?.nome}}</td>
  
        <td><a
          mat-raised-button
          color="warn"
          id="btnCadastrar"
          routerLink="/pages/jogo/palpitar/{{ jogo.id }}"
        >Palpitar</a>
        </td>
      </tr>
    
  
      </table>
  </mat-card>
  
  
  